:root {
    background-image: url(../imgs/climb.jpg);
    background-size: 100vw;
    background-position-x: -40vw;
    background-repeat: repeat-x;
    font-family: 'ArchitectsDaughterRegular', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
}

/* Left Hand Side */

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 2;
    height: min-content;
    justify-content: center;
}

.logo {
    fill: white;
}

h1 {
    color: white;
}

/* Right Hand Side */

.content {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: antiquewhite;
    min-height: 80vh;
    align-items: center;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.form-items {
    display: flex;
    flex-direction: row;
}

.col1,
.col2 {
    margin: 0px 30px;
}

h2, p {
    margin : 0px;
}

input, label {
    display: block;
    margin: 6px; 
}

input {
    border-color: grey;
    border-width: 1px;
    border-radius: 4px;
}

button {
    background-color: navy;
    color: white;
    border: grey, 2px;
    border-radius: 4px;
    width: max-content;
    padding: 5px 10px;
    margin: 20px 0px; 
}

/* Form Pseudo Classes */

input:focus,
button:focus {
    outline: none; /* remove default black outline */
    border-color: blue;
    box-shadow: 1px 1px 1px 1px aqua;
}

input:hover,
button:hover {
    border-color: navy;
    box-shadow: 1px 1px 1px 1px navy;
}